<%= link_to 'All Books', '/books' %>
<%= link_to 'All Authors', '/authors' %>

<h3><%= @author.name %></h3>
<a href='/authors/<%= @author.id %>/books'>Books by <%= @author.name %><a/>
<ul>
  <li>Living: <%= @author.living %></li>
  <li>Pullitzer Prizes: <%= @author.pullitzer_prizes %></li> <%# #pullitzer has one l %>
  <li>Books: <%= @author.books.count %></li>
</ul>

<%= link_to 'Edit Author Entry', "/authors/#{@author.id}/edit" %>

<%= link_to 'Delete Author', "/authors/#{@author.id}", method: :delete %>

