<%= link_to 'All Books', '/books' %>
<%= link_to 'All Authors', '/authors' %>

<h2><%= @author.name %></h2>
  <h3>Books</h3>
    <ul>
      <% @books.each do | book | %>
        <h4><li><%= book.name %></li></h4>
        <p>Genre: <%= book.genre %></p>
        <p>Fictitious: <%= book.fictitious %></p>
        <p>Pages: <%= book.pages %></p>
    <% end %>
    </ul>

    <%= link_to 'Create Book', "/authors/#{@author.id}/books/new" %>

